body {
    margin: 0;
    padding: 0;
    font-family: "Oxygen", sans-serif;
    font-size: 15px;
    color: #222831;
}

.fz-13 {
    font-size: 13px;
}

.btn-primary {
    color: white;
    margin-top: 20px;
    background-color: #1c3247;
    font-size: 15px;
    border: none;
}

.bg-login {
    background-image: url(/assets/img/bg-wangi.jpg);
    background-size: cover;
}